{% extends "@App/layout.html.twig" %}

{% block body %}
    <div class="cs__container__search">
        <div class="cs__content__search">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
                <div class="cs__content__search-title">
                    <div class="cs__search__picto col-md-3 col-sm-4">
                        <img class="cs__picto" src="{{ asset('/img/picto_CS.png') }}" alt="picto Collège Sévigné">
                    </div>
                    <div class="col-sm-9">
                        <h1 class="cs__title_site">Bibliothèque Numérique</h1>
                    </div>
                </div>
                {{ include('@App/public/form.search.html.twig') }}
            </div>
        </div>
        {% block app_img %}
            <img class="cs__front-blue" src="{{ asset('/img/front_blue.jpg') }}" alt="accueil">
        {% endblock %}
    </div>

    <div class="cs__header__midBar">
        <nav class="cs__main__nav">
            <div class="container">
                <ul class="cs__menu container">
                    <li class="cs__menu-midBar">
                        <a class="cs__menu-link" href="{{ path('app_homepage') }}"><i class="fas fa-home"></i> Accueil</a>
                    </li>
                    <li class="cs__menu-midBar">
                        <a class="cs__menu-link" href="http://www.collegesevigne.fr" target="_blank">Site Agrégation</a>
                    </li>
                    <li class="cs__menu-midBar">
                        <a class="cs__menu-link" href="{{ path('app_catalogue') }}">Catalogue complet</a>
                    </li>
                        </div>
                    </li>
                </ul>
        </nav>
    </div>

    <div class="container">
        {% block app_body %}
        {% endblock %}
    </div>

    <footer class="cs__footer">
        <div class="container">
            <div class="cs__footer__content">
                <div class="cs__footer__info col-md-7">
                    <img class="cs__footer-logo" src="{{ asset('/img/Logo-blanc.png') }}" alt="Logo Collège Sévigné">
                    <h3>Bibliothèque Numérique</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="cs__footer__links col-md-3">
                    <ul class="cs__footer__links__list">
                        <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        <li><a href="{{ path('app_legale') }}">Mentions légales</a></li>
                        <li><a href="http://www.education.gouv.fr/" target="_blank">Education nationale</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}