{% extends '@App/public/page-list.html.twig' %}

{% block sidebar_categories %}
    {% for categories in allCategories %}
        <li>
            <a href="{{ path('app_list', {'param': 'category', 'id': categories.id}) }}" title="{{ categories.name }}">{{ categories.name }}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block sidebar_profs %}
    {% for prof in allProfs %}
        <li>
            <a href="{{ path('app_list', {'param': 'prof', 'id': prof.id}) }}" title="{{ prof.nameComplet }}">{{ prof.nameComplet }}</a>
        </li>
    {% endfor %}
{% endblock %}