{% extends "@App/public/page-list.html.twig" %}

{% block sidebar_title %}Affinez votre recherche{% endblock %}

{% block sidebar_categories %}
    {% for categorie in categories %}
        <li {% if categorie == app.request.get('category') %} class="search-active" {% endif %}>
            <a href="{{ path('app_handle_search', {'search': search, 'author': app.request.get('author'), 'category': categorie }) }}" title="{{ categorie }}">{{ categorie }}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block sidebar_profs %}
    {% for profName in profsName %}
        <li {% if profName == app.request.get('author') %} class="search-active" {% endif %}>
            <a href="{{ path('app_handle_search', {'search': search, 'author': profName, 'category': app.request.get('category') }) }}" title="{{ profName }}">{{ profName }}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block main_title %}
    <h2>Résultats de la recherche : "{{ search }}"</h2>
{% endblock %}
