{% extends "@App/public/base.html.twig" %}

{% block app_body %}
    <div class="container">
        <div class="row principal">

            <div class="col-md-4 mb-3">
                <img class="img-fluid" src="{{ asset(book.file.pathname) }}" alt="{{ book.filename }}">
            </div>
            <div class="col-md-8 card">
                <div class="card-body">
                    <h1 class="my-3">{{ book.title }}</h1>
                    <h4 class="my-3">{{ book.category }}</h4>
                    <div class="row justify-content-between">
                        <div class="col-7">
                            <p class="small text-muted">Professeur : {{ book.author.firstName|upper }} {{ book.author.lastName }}</p>
                        </div>
                        <div class="col-5">
                            <p class="small text-muted date"><i class="far fa-calendar-alt"></i> Année : {{ book.yearBook }}</p>
                        </div>
                    </div>
                    <p class="content">{{ book.content }}</p>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-desc-tab" data-toggle="tab" href="#nav-desc" role="tab" aria-controls="nav-desc" aria-selected="true">DESCRIPTION</a>
                            <a class="nav-item nav-link" id="nav-edit-tab" data-toggle="tab" href="#nav-edit" role="tab" aria-controls="nav-edit" aria-selected="false">EDITION</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-home-tab">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                        </div>
                        <div class="tab-pane fade" id="nav-edit" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <p>Retrouvez tous les fichiers attachés à ce cours :</p>
                            {% if is_granted('ROLE_USER') %}
                                <a class="btn btn-outline-sevigne" href="{{ asset(book.pdffile.pathname) }}" target="_blank">Télécharger</a>
                            {% else %}
                                <div class="alert alert-info">Vous devez être connecté pour pouvoir voir ce cours</div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- /row -->

        <!-- Related Projects Row -->
        <h3 class="my-4">Du même professeur</h3>
        <div class="row">
            {% for otherBook in otherBooks %}
                {% if otherBook.id != book.id %}
                    <div class="col-md-3 col-sm-6 mb-4 other-card">
                        <div class="other-card-img">
                            <a href="{{ path('app_single', {'id': otherBook.id }) }}">
                                <img class="img-fluid" src="{{ asset(otherBook.file.pathname) }}" alt="{{ otherBook.filename }}">
                            </a>
                            <div class="other-card-info">
                                <p>{{ otherBook.title|truncate(50) }}</p>
                                <p>Année : {{ otherBook.yearBook }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
        <!-- /row -->

    </div>
{% endblock %}