<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Bibliothèque numérique du Collège Sévigné, plateforme de cours pour agrégatifs ou capetiens">
        <meta name="author" content="Anthony">
        <title>{% block title %}Bibliothèque de Sévigné{% endblock %}</title>
        {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('/img/favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/carousel.css') }}">

        {% endblock %}
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="cs__header__topBar">
            <nav class="cs__main__nav">
                <div class="container">
                    <a class="cs__main__menu__logo" href="{{ path('app_homepage') }}">
                        <img id="logo" src="{{ asset('/img/Logo.png') }}" alt="Logo Collège Sévigné">
                    </a>
                    <button class="cs__main__menu__burger" type="button" data-toggle="collapse" data-target="#cs__mainMenu" aria-controls="cs__mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="cs__main__menu__burger-icon"></span>
                    </button>

                    <div class="cs__main__menu collapse" id="cs__mainMenu">
                        <ul class="cs__menu container">
                            {% if is_granted('ROLE_USER') %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="cs__menu-item">
                                        <a class="cs__menu-link" href="{{ path('admin_homepage') }}">Tableau de bord</a>
                                    </li>
                                {% endif %}
                                <li class="cs__menu-item">
                                    <a class="cs__menu-link" href="{{ path('security_profile') }}">Bienvenue {{ app.user.username|upper }}</a>
                                </li>
                                <li class="cs__menu-item">
                                    <a class="cs__menu-link" href="{{ path('security_logout') }}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                                </li>
                                {% else %}
                            <li class="cs__menu-item">
                                <a class="cs__menu-link" href="{{ path('security_login') }}"><i class="fas fa-sign-in-alt"></i> Connexion / Inscription</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div class="container">
                    <div id="cs__flash" class="alert alert-{{ label }} mt-3" role="alert">
                        <p class="cs__message">Message flash : {{ message }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}
        {% endblock %}

        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.3.1.min.js"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="{{ asset('/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
