{% extends ('@Admin/admin.layout.html.twig') %}

{% block admin_body %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <a class="navbar-brand" href="{{ path('app_homepage') }}">Site Bibliothèque Sévigné</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                        <a class="nav-link" href="{{ path('admin_homepage') }}">
                            <i class="fas fa-tachometer-alt"></i>
                            <span class="nav-link-text">Tableau de bord</span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Books">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCours" data-parent="#exampleAccordion">
                            <i class="fas fa-book"></i>
                            <span class="nav-link-text">Les cours</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseCours">
                            <li>
                                <a href="{{ path('admin_index', {'param': 'book'}) }}">Tous les cours</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_add', {'param': 'book'}) }}">Ajouter un cours</a>
                            </li>
                        </ul>

                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categories">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCategories" data-parent="#exampleAccordion">
                            <i class="fas fa-tags"></i>
                            <span class="nav-link-text">Les catégories</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseCategories">
                            <li>
                                <a href="{{ path('admin_index', {'param': 'category'}) }}">Toutes les catégories</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_add', {'param': 'category'}) }}">Ajouter une catégorie</a>
                            </li>
                        </ul>

                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="User">
                        <a class="nav-link" href="{{ path('admin_user_index') }}">
                            <i class="fas fa-user"></i>
                            <span class="nav-link-text">Utilisateur</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content-wrapper">
            {% block admin_content %}
            {% endblock %}

            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>Copyright © ShinyWeb 2018</small>
                    </div>
                </div>
            </footer>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>
            <!-- Logout Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Prêt à partir ?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Sélectionnez "Déconnexion" ci-dessous si vous êtes prêt à terminer votre session en cours.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="{{ path('security_logout') }}">Déconnexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}