{% extends "@Admin/admin/admin.dashboard.html.twig" %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_index', {'param': 'book'}) }}">Tous les cours</a>
    </li>
    <li class="breadcrumb-item active">Ajouter un cours</li>
{% endblock %}

{% block content %}
    <div class="card mb-3">
            <div class="card-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h2>{% block content_title %}Ajouter un Cours{% endblock %}</h2>
            </div>
            <div class="card-body">
                {% include ('@Admin/admin/form.html.twig') %}

                <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="categoryModalLabel">Ajouter une nouvelle catégorie</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    {{ form_start(formCategory) }}
                                    {{ form_end(formCategory) }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-outline-primary" id="addNewCategory">Ajouter</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="modal fade" id="addProf" tabindex="-1" role="dialog" aria-labelledby="profModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="profModalLabel">Ajouter un nouveau professeur</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    {{ form_start(formProf) }}
                                    <div class="form-group">
                                        {{ form_label(formProf.firstName, "Nom du professeur") }}
                                        {{ form_errors(formProf.firstName) }}
                                        {{ form_widget(formProf.firstName, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(formProf.lastName, "Prénom du professeur") }}
                                        {{ form_errors(formProf.lastName) }}
                                        {{ form_widget(formProf.lastName, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    {{ form_end(formProf) }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-outline-primary" id="addNewProf">Ajouter</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        <div class="card-footer small text-muted">Actualisé le : {{ "now"|localizeddate('long', 'none') }}</div>
    </div>
{% endblock %}