<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.title, "Titre du cours") }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        <h4>Professeur du cours</h4>
        {{ form_label(form.author.firstName, "Nom") }}
        {{ form_widget(form.author.firstName, {'attr': {'class': 'form-control'}}) }}
        {{  form_label(form.author.lastName, "Prénom") }}
        {{ form_widget(form.author.lastName, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.content, "Détails du cours") }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.category, "Catégorie du cours") }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
    </div>

    {% if entity.file is not null %}
        <img src="{{ asset(entity.file.pathname) }}" width="200" alt="">
    {% endif %}

    <div class="form-group">
        {{ form_label(form.file, "Couverture") }}

        {{ form_errors(form.file) }}
        {{ form_widget(form.file) }}
    </div>

    <div class="form-group">
        {{ form_label(form.pdffile, "Pdf du cours") }}
        {{ form_errors(form.pdffile) }}
        {{ form_widget(form.pdffile) }}
    </div>

    <input type="submit" class="btn btn-primary" value="Sauvegarder">

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>