<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.title, "Titre du cours") }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div id="prof" class="form-group">
        <h4>Professeur du cours</h4>
        {{ form_label(form.author, "Nom") }}
        {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.content, "Détails du cours") }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.category, "Catégorie du cours") }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
    </div>


    <div class="form-group">
        {{ form_label(form.file, "Couverture du cours") }}
        <div class="row">
            {% if entity.file is not null %}
                <div class="col-md-4">
                    <a href="{{ asset(entity.file.pathname) }}"><img src="{{ asset(entity.file.pathname) }}" width="227" alt="{{ entity.filename }}"></a>
                </div>
            {% endif %}
            <div class="col-md-8">
                {{ form_errors(form.file) }}
                {{ form_widget(form.file) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.pdffile, "Pdf du cours") }}
        <div class="row">
            {% if entity.pdffile is not null %}
                <div class="col-md-4">
                    <a href="{{ asset(entity.pdffile.pathname) }}">{{ entity.pdfname }}</a>
                </div>
            {% endif %}
            <div class="col-md-8">
                {{ form_errors(form.pdffile) }}
                {{ form_widget(form.pdffile) }}
            </div>
        </div>

    </div>

    <input type="submit" class="btn btn-primary" value="Sauvegarder">

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>