{% extends "@Admin/admin/admin.dashboard.html.twig" %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_index', {'param': 'prof'}) }}">Tous les Professeurs</a>
    </li>
    <li class="breadcrumb-item active">Ajouter un professeur</li>
{% endblock %}
{% block content %}
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>{% block content_title %}Ajouter un professeur{% endblock %}</h2>
        </div>
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form'}}) }}
            <div class="form-group">
                {{ form_label(form.firstName, "Nom du professeur") }}
                {{ form_errors(form.firstName) }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.lastName, "Prenom du professeur") }}
                {{ form_errors(form.lastName) }}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
            </div>
            <input type="submit" class="btn btn-primary" value="Sauvegarder">

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        <div class="card-footer small text-muted">Ajouté le {{ 'now'|date("d-m-Y \à h:i") }}</div>
    </div>
{% endblock %}

