{% extends '@Admin/admin/admin.dashboard.html.twig' %}

{% block breadcrumb %}<li class="breadcrumb-item active">Utilisateurs</li>{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <span><i class="fa fa-table"></i> Utilisateurs</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
                    {% include '@Admin/admin/pagination.html.twig' %}

                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</a></td>
                            <td>{{ user.email }}</td>
                            <td>
                                    <select class="form-control" id="role_user_{{ user.id }}" name="role_user">
                                        <option {% if "ROLE_SUPER_ADMIN" in user.roles[0] %}selected="selected"{% endif %} value="ROLE_SUPER_ADMIN">Super-admin</option>
                                        <option {% if "ROLE_ADMIN" in user.roles[0] %}selected="selected"{% endif %} value="ROLE_ADMIN">Administrateur</option>
                                        <option {% if "ROLE_CONTRIBUTEUR" in user.roles[0] %}selected="selected"{% endif %} value="ROLE_CONTRIBUTEUR">Contributeur</option>
                                        <option {% if "ROLE_MODERATEUR" in user.roles[0] %}selected="selected"{% endif %} value="ROLE_MODERATEUR">Modérateur</option>
                                        <option {% if "ROLE_USER" in user.roles[0] %}selected="selected"{% endif %} value="ROLE_USER">Utilisateur</option>
                                    </select>
                            </td>

                            <td>
                                <div class="btn-group mr-2">
                                    <form action="{{ path('admin_user_role', {'id': user.id}) }}" method="post">
                                    <input type="hidden" id="input_role_user_{{ user.id }}" name="new_role_user"/>
                                        <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-check"></i></button>
                                    </form>
                                    <form action="{{ path('admin_user_delete', {'id': user.id}) }}" method="post">
                                        <input type="hidden" name="form[_token]" value="{{ csrf_token('form') }}" />
                                        <button type="submit" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Actualisé le : {{ "now"|localizeddate('long', 'none') }}</div>
    </div>
{% endblock %}

