{% extends '@Securities/base.html.twig'%}
{% block login_check %}

    <h2>CONNEXION</h2>
    {% if error %}
        <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
            {{ form_label(form._username, "Nom d'utilisateur") }}
            {{ form_widget(form._username, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form._password, "Mot de passe") }}
            {{ form_widget(form._password, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <a href="{{ path('security_reset') }}" class="btn btn-outline-sevigne mt-3">Mot de passe oublié</a>
        </div>

    <div class="col-md-6 form-group pull-right">
        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Se connecter">
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block actif_login %}
    class="active"
{% endblock %}